.teams img{
    height: 120px;
    width: 120px;
    margin-top: 20px;
}
#makeStyles-root-3 {
    max-width: 300px;
    text-align: center;
    background: rgb(235, 228, 228);
}
.container{
    max-width:1000px;
}